* {
    margin: 0;
    color: white;
    font-family: 'K2D', sans-serif;

}

input {
    background-color: #000c28;
}


/* ------------------------------------------------Pokedex general CSS */
.pokedex {
    display: flex;

}

.pokedex-title {
    margin-bottom: 15px;
}

.pokedex-left {
    background-color: #dc0a2d;
    padding: 15px;
}

.pokedex-right {
    background-color: #5a0b18;

    padding: 15px;
}

.poke-mt-15 {
    margin-top: 15px;
}


/* ------------------------------------------------Pokedex Main CSS */
.poke-name-catcher {
    margin-bottom: 15px;

}

.poke-flexer {
    display: flex;

}

.poke-imagens-margin {
    margin-top: 15px;
}

.disapear {
    display: none !important;
}

#shine-imagens {

    display: block;
    position: absolute;
    left: 10px;
    top: 260px;
    filter: invert(93%) sepia(80%) saturate(359%) hue-rotate(336deg) brightness(105%) contrast(104%);
    width: 2rem;
}

.gender-icon {

    display: block !important;
    font-size: 25px !important;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 #ffff, -1px 1px 0 #ffff, 1px 1px 0 #ffff;
}

.male-icon {
    color: #0096fd;
}

.female-icon {
    color: #ff0097;

}

.male-n-female-icon {
    color: #804bca;

}

/* ------------------------------------------------Pokestatus CSS */
.poke-status-main {
    margin-top: 15px;

}

.poke-status-row {
    margin-top: 15px;

    display: flex;
    grid-template-columns: auto auto auto;
}

.poke-tipos {
    margin-top: 10px;
}

.tipo-div {
    margin-top: 7px;
}

.tituloTipos {
    margin-left: 7px;
    align-self: center;
}

.poke-status-division {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 15px;
    width: -webkit-fill-available;

}

.poke-status-item {
    margin-top: 15px;
}

.poke-moves {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 15px;
}

.poke-moves-center {
    justify-content: center;
}

#poke-moves-paginas {
    margin: 0px 10px;
}

/**/
.poke-efetividade-ddf {
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 10px;
    
}

.poke-efetividade-ddt {
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 10px;
    
}

.poke-efetividade-hdf {
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 10px;
    
}

.poke-efetividade-hdt {
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 10px;
    
}

.poke-efetividade-ndf {
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 10px;
    
}

.poke-efetividade-ndt {
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 10px;
    
}
.img-margin > div > img{
 margin: 15px;
}
.img-margin > div {
    margin: 10px;
   }
   
.text-absolute{
    position: absolute;
}
.text-tipos-img{
    margin-left: 2px;
}
.text-tipos-img-dd{
    font-size: 15px;
}

.text-tipos-img-md{
    font-size: 12px;
}
.text-tipos-img-nd{
    font-size: 15px;
}

/* ------------------------------------------------Base de pokemons CSS */
.allpoke-base {
    display: flex;
}

.allpoke-base-name {
    margin-right: 15px;
}

.allpoke-base-id {
    padding-right: 20px;
}

.tituloNome1,
.tituloId1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.allpoke-base-flexer {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.allpoke-base-img {
    display: grid;
}

.allpokebasemodify {
    margin-top: 15px;
    margin-bottom: 15px;
}

.allpokebasemodify {
    object-fit: none;
    width: 75px;
    height: 75px;
}


/* ------------------------------------------------ Icons CSS*/

.imgTipos {
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
    padding: 2px;
    transition: 200ms all;
    align-self: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

.imgTipos:hover {
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
}

.imgTipos img {
    height: 60%;
    width: 60%;
    margin: 20%;
}

.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}






.texto-bug {
    color: #92BC2C;
    text-shadow: 0 0 20px #92BC2C;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-dark {
    color: #595761;
    text-shadow: 0 0 20px #595761;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-dragon {
    color: #0C69C8;
    text-shadow: 0 0 20px #0C69C8;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-electric {
    color: #F2D94E;
    text-shadow: 0 0 20px #F2D94E;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-fire {
    color: #FBA54C;
    text-shadow: 0 0 20px #FBA54C;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-fairy {
    color: #EE90E6;
    text-shadow: 0 0 20px #EE90E6;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-fighting {
    color: #D3425F;
    text-shadow: 0 0 20px #D3425F;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-flying {
    color: #A1BBEC;
    text-shadow: 0 0 20px #A1BBEC;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-ghost {
    color: #5F6DBC;
    text-shadow: 0 0 20px #5F6DBC;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-grass {
    color: #5FBD58;
    text-shadow: 0 0 20px #5FBD58;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-ground {
    color: #DA7C4D;
    text-shadow: 0 0 20px #DA7C4D;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-ice {
    color: #75D0C1;
    text-shadow: 0 0 20px #75D0C1;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-normal {
    color: #A0A29F;
    text-shadow: 0 0 20px #A0A29F;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-poison {
    color: #B763CF;
    text-shadow: 0 0 20px #B763CF;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-psychic {
    color: #FA8581;
    text-shadow: 0 0 20px #FA8581;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-rock {
    color: #C9BB8A;
    text-shadow: 0 0 20px #C9BB8A;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-steel {
    color: #5695A3;
    text-shadow: 0 0 20px #5695A3;
    font-size: 1.1rem;
    font-weight: 600;
}

.texto-water {
    color: #539DDF;
    text-shadow: 0 0 20px #539DDF;
    font-size: 1.1rem;
    font-weight: 600;
}